 body {
     font-size: 80%;
     font-family: 'Courier New', Courier, monospace;
     letter-spacing: 0.15em;
     background-color: #efefef;
     border: 4px double #000;
     background-color: #ffffff;
 }

 #page {
     max-width: 940px;
     min-width: 720px;
     margin: 10px auto 10px auto;
     padding: 20px;
 }

 #logo {
     margin: 10px auto 25px auto;
     text-align: center;
 }

 ul {
     width: 570px;
     padding: 15px;
     margin: 0px auto 0px auto;
     text-align: center;
     /* background-color: aqua; */
     border-top: 2px solid #000;
     border-bottom: 1px solid #000;
 }

 li {
     display: inline;
     margin: 0px 3px;
 }

 p {
     text-align: center;
     width: 600px;
     margin: 20px auto 20px auto;
     font-weight: normal;
 }

 a {
     color: #000000;
     text-transform: uppercase;
     text-decoration: none;
     padding: 6px 5px 5px 5px;
 }

 a:hover,
 a.on {
     background-color: #ffffff;
 }
