body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

table {
    width: 600px;
}

th,
td {
    padding: 7px 10px 10px 10px;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-top: 1px solid red;
    border-bottom: 2px solid black;
    text-align: left;
}
/*Thiết lập màu nền cho các hàng chẵn*/
tr.even {
    background-color: #f2f2f2;
}

td:hover{
    background-color: purple;
}
.money{
    text-align: right;
}

